*{
    margin: 0;
    padding: 0;
}

body{
    font-family: inter;
}
.carrousel_heading{
    color: rgb(158, 2, 85);
    font-size: 35px;
  font-weight: 500px;
}

.carrousel_text{
    color: blue;
    font-size: 18px;
    font-weight: 400;
   
}


.section_heading{
    font-size: 60px;
    font-weight: 600;
    color: deeppink;
}

.carrousel-img{
    width: 500px;
    margin-right: 40px;
}

.bg-prymari{
 background-color: rgb(177, 214, 249);
}

.box{
    background-color: rgb(247, 163, 60);
    width: 700px;
    height: 100px;
}

.carrousel_box{
    padding: 40px;
}

.container{
    margin-top: 50px;
}
.link{
    margin-top: 50px;
}

.card-img{
    width: 300px;

}

.card{
margin-left: 40px;
margin-right: 40px;
  transition: 1s;
}

.card:hover{
    background-color: rgb(247, 236, 210);
    box-shadow: 2px 5px 16px rgb(155, 153, 153);
}

.card-title{
   color: crimson;
   font-weight: 600;
   font-size: 22px;
   transition: 1s;
}

.card-title:hover{
    color:rgb(4, 23, 228) ;
}

.card-text{
    color: blue;
}

#Catagory{
  font-size: 40px;

} 

.box_div{
    background: linear-gradient(to right, #f9d423 ,#e65c00);
    width: 200px;
    height: 10px;
    border-radius: 50px;
    margin-left: 550px;
    margin-bottom: 60px;
}

.img_section{
    display: grid;
    grid-template-rows: 1fr;
}

.img_div{
   margin: auto;


}

.footer_color {
    background-color: rgb(173, 229, 247);
}

